<h2>Sign up</h2>
<div id="signUpWrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="fieldSU">
      <%= f.label :username%><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
    </div>

    <div class="fieldSU">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="fieldSU">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="fieldSU">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actionsSU">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <h1 class = 'note'>IMPORTANT:</h1>
  <h1 class = 'note'>These Passwords are stored on carved stone blocks in my backyard, these are not peak security so do not use your battle net info here</h1>
</div>
