<!DOCTYPE html>
<html>
  <head>
    <title>ArmoryLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div id="homeWrapper">

    <% if notice %>
      <div class="flash" id="alertSuccess"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="flash" id="alertFail"><%= alert %></div>
    <% end %>

    <div class="navBar">
      <% if user_signed_in? %>
          <%= link_to('Profile', '/profile', { :class=>"navLinks1" })%>
          <%= link_to('Logout', destroy_user_session_path, { :class=>"navLinks2" }, method: :delete) %>
      <% else %>
          <%= link_to('Login', new_user_session_path, { :class=>"navLinks1" })  %>  
          <%= link_to('Sign-up', '/users/sign_up', { :class=>"navLinks2" })%>
      <% end %>
    </div>

    <%= yield %>

</div>


</div>
  </body>
</html>
